
/*style the y-axis line*/
.axis path,
.axis line {
	fill:none;
	stroke: black;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}
/*style the text on the y-axis*/
.axis text {
	font-family: sans-serif;
	font-size: 0.9em;
}
/*style the title for the graph*/
.title {
	font-family: sans-serif;
	font-size: 1.3em;
	font-weight: bold;
}